app = 'thebook'
primary_region = 'gru'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  ALLOWED_HOSTS = 'thebook.lhc.net.br,thebook.fly.dev'
  CSRF_TRUSTED_ORIGINS = 'https://thebook.lhc.net.br,https://thebook.fly.dev'
  DEBUG = '0'
  PORT = '8000'
  STORAGES = '{"default": {"BACKEND": "storages.backends.s3.S3Storage", "OPTIONS": {"bucket_name": "lhc-bookkeeping"}}, "staticfiles": {"BACKEND": "whitenoise.storage.CompressedManifestStaticFilesStorage"}}'
  AWS_REQUEST_CHECKSUM_CALCULATION = 'WHEN_REQUIRED'
  AWS_RESPONSE_CHECKSUM_VALIDATION = 'WHEN_REQUIRED'
  OTEL_EXPORTER_OTLP_PROTOCOL = 'http/protobuf'
  OTEL_EXPORTER_OTLP_ENDPOINT = 'https://otlp-gateway-prod-sa-east-1.grafana.net/otlp'
  CORA_EMAIL_HOST_IMAP = 'imap.migadu.com'
  CORA_EMAIL_HOST_USER = 'thebook@lhc.net.br'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
