{% extends "base/main.html" %}

{% load currency i18n %}

{% block content %}

<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              {% translate "Incomes" %} ({{ bank_account.summary_start_date|date:"SHORT_DATE_FORMAT" }} - {{ bank_account.summary_end_date|date:"SHORT_DATE_FORMAT" }})
            </div>
            <div class="h5 mb-0 font-weight-bold {% if bank_account.incomes < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ bank_account.incomes|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
              {% translate "Expenses" %} ({{ bank_account.summary_start_date|date:"SHORT_DATE_FORMAT" }} - {{ bank_account.summary_end_date|date:"SHORT_DATE_FORMAT" }})
            </div>
            <div class="h5 mb-0 font-weight-bold {% if bank_account.expenses < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ bank_account.expenses|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              {% translate "Period Balance" %} ({{ bank_account.summary_start_date|date:"SHORT_DATE_FORMAT" }} - {{ bank_account.summary_end_date|date:"SHORT_DATE_FORMAT" }})
            </div>
            <div class="h5 mb-0 font-weight-bold {% if bank_account.period_balance < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ bank_account.period_balance|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-university fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              {% translate "Overall Balance" %}
            </div>
            <div class="h5 mb-0 font-weight-bold {% if bank_account.overall_balance < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ bank_account.overall_balance|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-university fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4 class="m-0 font-weight-bold text-primary">{{ bank_account.name }}</h4>

      <h5 class="m-0 font-weight-bold">
        <form method="get">
          {% csrf_token %}
          <label for="start_date">{% translate "Start Date" %}</label>
          <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}">

          <label for="end_date">{% translate "End Date" %}</label>
          <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">
          <i class="fa fa-search" title='{% translate "Search"'></i>
        </form>

      </h5>



  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered" id="transactions" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>{% translate "Date" %}</th>
            <th>{% translate "Amount" %}</th>
            <th>{% translate "Description" %}</th>
            <th>{% translate "Category" %}</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>{% translate "Date" %}</th>
            <th>{% translate "Amount" %}</th>
            <th>{% translate "Description" %}</th>
            <th>{% translate "Category" %}</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.date|date:"SHORT_DATE_FORMAT" }}</td>
            <td {% if transaction.amount < 0 %}class="text-danger"{% endif %}>
              {{ transaction.amount|money }}
            </td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.category }}</td>
            <td style="display: block; text-align: center;">
              <a href="{% url 'admin:bookkeeping_transaction_change' transaction.id %}">
                <i class="fas fa-edit fa-sm fa-fw"></i>
              </a>
              <a
                style="cursor: pointer"
                data-toggle="modal"
                data-target="#uploadDocument"
                data-transactionid="{{ transaction.id }}"
                title="{% translate 'Upload Document' %}"><i class="fas fa-upload fa-sm fa-fw"></i></a>
              {% if transaction.has_documents %}
              <a href="" title="{% translate 'Download Documents' %}"><i class="fas fa-download fa-sm fa-fw"></i></a>
              {% else %}
              <i class="fas fa-minus fa-sm fa-fw"></i>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock content %}
