{% extends "base/main.html" %}

{% load currency i18n %}

{% block content %}
<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              {% translate "Deposits (selected period)" %}
            </div>
            <div class="h5 mb-0 font-weight-bold {% if cash_book.deposits < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ cash_book.deposits|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
              {% translate "Withdraws (selected period)" %}
            </div>
            <div class="h5 mb-0 font-weight-bold {% if cash_book.withdraws < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ cash_book.withdraws|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              {% translate "Balance (selected_period)" %}
            </div>
            <div class="h5 mb-0 font-weight-bold {% if cash_book.balance < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ cash_book.balance|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-university fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              {% translate "Overall Balance" %}
            </div>
            <div class="h5 mb-0 font-weight-bold {% if cash_book.overall_balance < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ cash_book.overall_balance|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-university fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4 class="m-0 font-weight-bold text-primary">
      {{ cash_book.name }}
    </h4>

    <div>
      <h5 class="m-0 font-weight-bold">
      {% if year or month %}
        <a href="{% url 'bookkeeping:cash-book-transactions' cash_book.slug %}?{{ previous_period }}">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
          {% translate "Transactions" %}
          {% if month %}{{ month }} / {% endif %}{% if year %}{{ year }}{% endif %}
        <a href="{% url 'bookkeeping:cash-book-transactions' cash_book.slug %}?{{ next_period }}">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      {% else %}
        {% translate "All Transactions" %}
      {% endif %}
      </h5>

      <div>
        <center>
          <form method="get" action="{% url 'bookkeeping:cash-book-transactions' cash_book.slug %}">
            <input class="span2" size="2" maxlength="2" type="text" name="month">
            <input class="span2" size="4" maxlength="4" type="text" name="year">
            <button type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
          </form>
        </center>
      </div>
    </div>

    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">{% translate "Export" %}</div>
        <a
          class="dropdown-item"
          href="{% url 'bookkeeping:cash-book-transactions' cash_book.slug %}?format=csv{% if year %}&year={{ year }}{% endif %}{% if month %}&month={{ month }}{% endif %}">
          {% translate "Download (CSV)" %}
        </a>
        <div class="dropdown-header">{% translate "Import" %}</div>
        <a class="dropdown-item btn" data-toggle="modal" data-target="#importOFXModal">
          {% translate "Import OFX" %}
        </a>
        <a class="dropdown-item btn" data-toggle="modal" data-target="#importCSVModal">
          {% translate "Import PayPal CSV" %}
        </a>
        <a class="dropdown-item btn" data-toggle="modal" data-target="#importCSVCoraCreditCardModal">
          {% translate "Import Cora Credit Card CSV" %}
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="transactions" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th>{% translate "#" %}</th>
            <th>{% translate "Date" %}</th>
            <th>{% translate "Amount" %}</th>
            <th>{% translate "Description" %}</th>
            <th>{% translate "Category" %}</th>
            <th>{% translate "Balance" %}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>{% translate "#" %}</th>
            <th>{% translate "Date" %}</th>
            <th>{% translate "Amount" %}</th>
            <th>{% translate "Description" %}</th>
            <th>{% translate "Category" %}</th>
            <th>{% translate "Balance" %}</th>
          </tr>
        </tfoot>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <td style="display: block; text-align: center;">
              <a
                style="cursor: pointer"
                data-toggle="modal"
                data-target="#uploadDocument"
                data-transactionid="{{ transaction.id }}"
                title="{% translate 'Upload Document' %}"><i class="fas fa-upload fa-sm fa-fw"></i></a>
              {% if transaction.has_documents %}
              <a href="" title="{% translate 'Download Documents' %}"><i class="fas fa-download fa-sm fa-fw"></i></a>
              {% else %}
              <i class="fas fa-minus fa-sm fa-fw"></i>
              {% endif %}
            </td>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.date }}</td>
            <td {% if transaction.amount < 0 %}class="text-danger"{% endif %}>
              {{ transaction.amount|money }}
            </td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.balance }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="importOFXModal" tabindex="-1" aria-labelledby="importOFXModal" aria-hidden="true">
  <div class="modal-dialog">
    <form
      method="post"
      action="{% url 'bookkeeping:cash-book-import-transactions' cash_book.slug %}"
      enctype="multipart/form-data"
      id="ofx_import_form">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% translate "Import OFX" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <label for="ofx_file" class="form-label">{% translate "Document File" %}</label>
            <input type="file" id="ofx_file" name="ofx_file" class="form-control">

            <label for="start_date" class="form-label">{% translate "Start Date" %}</label>
            <input type="text" id="start_date" name="start_date" class="form-control">

            <label for="end_date" class="form-label">{% translate "End Date" %}</label>
            <input type="text" id="end_date" name="end_date" class="form-control">

            <input type="hidden" name="file_type" value="ofx" />
            <input
              type="hidden"
              name="next_url"
              value="{% url 'bookkeeping:cash-book-transactions' cash_book.slug %}?{% if year %}year={{ year }}{% endif %}{% if month %}&month={{ month }}{% endif %}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate "Close" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Import" %}</button>
          </div>
        </div>
    </form>
  </div>
</div>

<div class="modal fade" id="importCSVModal" tabindex="-1" aria-labelledby="importCSVModal" aria-hidden="true">
  <div class="modal-dialog">
    <form
      method="post"
      action="{% url 'bookkeeping:cash-book-import-transactions' cash_book.slug %}"
      enctype="multipart/form-data"
      id="csv_import_form">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% translate "Import PayPal CSV" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{% translate "This importer only works with CSV files exported from PayPal. " %}<a href="https://www.paypal.com/reports/statements/monthly">{% translate "Download it here." %}</a></p>

            {% csrf_token %}
            <input type="file" id="csv_file" name="csv_file">
            <input type="hidden" name="file_type" value="csv" />
            <input
              type="hidden"
              name="next_url"
              value="{% url 'bookkeeping:cash-book-transactions' cash_book.slug %}?{% if year %}year={{ year }}{% endif %}{% if month %}&month={{ month }}{% endif %}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate "Close" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Import" %}</button>
          </div>
        </div>
    </form>
  </div>
</div>


<div class="modal fade" id="importCSVCoraCreditCardModal" tabindex="-1" aria-labelledby="importCSVCoraCreditCardModal" aria-hidden="true">
  <div class="modal-dialog">
    <form
      method="post"
      action="{% url 'bookkeeping:cash-book-import-transactions' cash_book.slug %}"
      enctype="multipart/form-data"
      id="csv_cora_credit_card_import_form">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% translate "Import Cora Credit Card CSV" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{% translate "This importer only works with CSV files exported from Cora Credit Card." %}</p>

            {% csrf_token %}
            <input type="file" id="csv_cora_credit_card_file" name="csv_cora_credit_card_file">
            <input type="hidden" name="file_type" value="csv_cora_credit_card" />
            <input
              type="hidden"
              name="next_url"
              value="{% url 'bookkeeping:cash-book-transactions' cash_book.slug %}?{% if year %}year={{ year }}{% endif %}{% if month %}&month={{ month }}{% endif %}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate "Close" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Import" %}</button>
          </div>
        </div>
    </form>
  </div>
</div>

<div class="modal fade" id="uploadDocument" tabindex="-1" aria-labelledby="uploadDocument" aria-hidden="true">
  <div class="modal-dialog">
    <form
      method="post"
      action="{% url 'bookkeeping:transaction-upload-document' %}"
      enctype="multipart/form-data"
      id="upload_document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% translate "Upload Document" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" id="transaction_id" name="transaction_id" />
            <input
              type="hidden"
              name="next_url"
              value="{% url 'bookkeeping:cash-book-transactions' cash_book.slug %}?{% if year %}year={{ year }}{% endif %}{% if month %}&month={{ month }}{% endif %}">

            <div class="form-group">
              <label for="transaction_document">{% translate "Document File" %}</label>
              <input type="file" class="form-control" id="transaction_document" name="transaction_document">
            </div>

            <div class="form-group">
              <label for="notes">{% translate "Notes" %}</label>
              <input type="text" class="form-control" id="notes" name="notes">
              <small id="notes_help" class="form-text text-muted">
                {% translate "Add a description explaining the content of the document" %}
              </small>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate "Close" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Upload" %}</button>
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block js_scripts %}
  <script>
    $(document).ready(function() {

      $.extend($.fn.dataTable.ext.type.order, {
        "custom-brl-sort-asc": function (value_1, value_2) {
          return moneyStrToNumber(value_1) > moneyStrToNumber(value_2);
        },

        "custom-brl-sort-desc": function (value_1, value_2) {
          return moneyStrToNumber(value_1) < moneyStrToNumber(value_2);
        }
      });

      moneyStrToNumber = function(value) {
        const negativeRegex = /\(R\$ ([\d.]+),(\d{2})\)/;
        const negativeFound = value.match(negativeRegex);
        if(negativeFound !== null) {
          const integerValue = negativeFound[1].replaceAll(".", "")
          const decimalValue = negativeFound[2];
          return -1 * parseFloat(`${integerValue}.${decimalValue}`);
        }

        const positiveRegex = /R\$ ([\d.]+),(\d{2})/;
        const positiveFound = value.match(positiveRegex);
        if(positiveFound !== null) {
          const integerValue = positiveFound[1].replaceAll(".", "")
          const decimalValue = positiveFound[2];
          return parseFloat(`${integerValue}.${decimalValue}`);
        }
      };

      $("#transactions").DataTable(
        {
          pageLength: 100,
          columnDefs: [
            { type: "custom-brl-sort", targets: 3 },
            { orderable: false, targets: 6 }
          ],
          columns: [
            { width: "5%" },
            { width: "5%" },
            { width: "10%" },
            { width: "10%" },
            { width: "40%" },
            { width: "15%" },
            { width: "10%" }
          ],
        }
      );

      $("#importOFXModal").on("shown.bs.modal", function () {
        $("#ofx_file").trigger("focus")
      });

      $("#importCSVModal").on("shown.bs.modal", function () {
        $("#csv_file").trigger("focus")
      });

      $("#importCSVCoraCreditCardModal").on("shown.bs.modal", function () {
        $("#csv_cora_credit_card_file").trigger("focus")
      });

      $("#uploadDocument").on("show.bs.modal", function (event) {
        let transactionId = $(event.relatedTarget).data('transactionid');
        $("#transaction_id").val(transactionId);
      })

    });
  </script>
{% endblock js_scripts %}
