{% load currency i18n static %}

<div class="col-xl-6 col-md-2 mb-6" id="bank_accounts_dashboard">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <i class="fa fa-arrow-left link"
         title='{% translate "Previous Month" %}'
         hx-get="{% url 'bookkeeping:partial-bank-accounts-dashboard' %}{% querystring month=previous_month year=previous_year %}"
         hx-swap="outerHTML"
         hx-target="#bank_accounts_dashboard"></i>
      <h6 class="m-0 font-weight-bold text-primary">
        {% translate "Bank Accounts" %}
      </h6>
      <i class="fa fa-arrow-right link"
         title='{% translate "Next Month" %}'
         hx-get="{% url 'bookkeeping:partial-bank-accounts-dashboard' %}{% querystring month=next_month year=next_year %}"
         hx-swap="outerHTML"
         hx-target="#bank_accounts_dashboard"></i>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <th>
            {% translate "Bank Account" %}
          </th>
          <th>
            {% translate "Balance" %} ({{ month|stringformat:"02d" }}/{{ year }})
          </th>
          <th>
            {% translate "Overall Balance" %}
          </th>
        </thead>
        <tbody>
          {% for bank_account_summary in bank_accounts_summary %}
            <tr>
              <td>
                <a href="{% url 'bookkeeping:bank-account-transactions' bank_account_summary.slug %}{% querystring month=month year=year %}">
                  {{ bank_account_summary.name }}
                </a>
              </td>
              <td {% if bank_account_summary.balance < 0 %}class="text-danger"{% endif %}>
                {{ bank_account_summary.balance|money }}
              </td>
              <td {% if bank_account_summary.overall_balance < 0 %}class="text-danger"{% endif %}>
                {{ bank_account_summary.overall_balance|money }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
