{% extends "base/main.html" %}

{% load currency i18n static %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">
    {% translate "Dashboard" %}
  </h1>
</div>

<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              {% translate "Deposits (current month)" %}
            </div>
            <div class="h5 mb-0 font-weight-bold {% if deposits < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ deposits|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
              {% translate "Withdraws (current month)" %}
            </div>
            <div class="h5 mb-0 font-weight-bold {% if withdraws < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ withdraws|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              {% translate "Balance (current month)" %}
            </div>
            <div class="h5 mb-0 font-weight-bold {% if balance < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ balance|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-university fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              {% translate "Overall Balance" %}
            </div>
            <div class="h5 mb-0 font-weight-bold {% if overall_balance < 0 %}text-danger{% else %}text-gray-800{% endif %}">
              {{ overall_balance|money }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-university fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-xl-6 col-md-2 mb-6" id="cash_books_dashboard">
    <div class="card border-left-primary shadow h-100 py-2"
         hx-get="{% url 'bookkeeping:partial-cash-books-dashboard' %}"
         hx-swap="outerHTML"
         hx-target="#cash_books_dashboard"
         hx-trigger="load">
      <div class="card-body">
        <center><img src="{% static 'img/bars.svg' %}" alt=""></center>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              {% translate "Active Memberships" %}
            </div>
            <div class="h5 mb-0 font-weight-bold">
              {{ active_memberships }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
{% endblock content %}
