{% extends "base/base.html" %}

{% block content_wrapper %}

  {% include "base/sidebar.html" %}

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">

      {% include "base/navbar.html" %}

      <!-- Begin Page Content -->
      <div class="container-fluid">
        {% if messages %}
        <!-- <div class="card mb-4 py-3 border-bottom-danger"> -->
          <div class="card-body">
            {% for message in messages %}
            <div
              class="alert alert-dismissible fade show {% if message.tags %}{{ message.tags }}{% endif %}"
              role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
          </div>
        <!-- </div> -->
        {% endif %}

        {% block content %}
        {% endblock content %}
      </div>

    </div>
    <!-- End of Main Content -->

    {% include "base/footer.html" %}

  </div>
  <!-- End of Content Wrapper -->
{% endblock content_wrapper %}
