{% extends 'core/base.html' %}

{% block content %}
<table class="table table-striped table-hover table-sm">
  <thead>
    <th>#</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Account</th>
    <th>Category</th>
    <th>Balance</th>
  </thead>
  <tbody>
  {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.date }}</td>
      <td{% if transaction.amount < 0%} class="text-danger"{% endif %}>{{ transaction.amount }}</td>
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.account__name }}</td>
      <td>{{ transaction.category__name }}</td>
      <td{% if transaction.balance < 0%} class="text-danger"{% endif %}>{{ transaction.balance }}</td>
    </tr>
  {% endfor %}
  </tbody>
<table>
{% endblock %}
