{% extends "base/base.html" %}

{% load i18n static %}

{% block content_wrapper %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image">
              <center>
                <img src="{% static 'img/login-image.png' %}" />
              </center>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">{% translate 'Password reset' %}</h1>
                  <p class="mb-4">{% translate "We've emailed you instructions for setting your password, if an account exists with the e-mail you entered. You should receive them shortly." %}</p>
                  <p class="mb-4">{% translate "If you don't receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}</p>
                </div>
                <hr />
                <div class="text-center">
                  <form class="user">
                    <a href="{% url 'login' %}" class="btn btn-primary btn-user btn-block">
                      {% translate "Login" %}
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content_wrapper %}
