{% extends "base/base.html" %}

{% load i18n static %}

{% block content_wrapper %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image">
              <center>
                <img src="{% static 'img/login-image.png' %}" />
              </center>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">{% translate 'Forgot Your Password?' %}</h1>
                  <p class="mb-4">{% translate "We get it, stuff happens. Just enter your e-mail address below and we'll send you a link to reset your password!" %}</p>
                </div>

                {% if form.errors %}
                  <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                      {% translate "Please provide a valid e-mail address and try again." %}
                    </div>
                  </div>
                  <br/>
                {% endif %}

                <form method="post" class="user" action="{% url 'password_reset' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="email">
                      {% translate "E-mail" %}
                    </label>
                    <input type="email" class="form-control form-control-user" name="email" id="email" placeholder="Enter e-mail address...">
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    {% translate "Reset Password" %}
                  </button>
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="{% url 'login' %}">{% translate 'Already have an account? Login!' %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content_wrapper %}
